{% extends 'base.html.twig' %}
{% block title %}
   my_app
{% endblock %}
{% block body %}
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <nav class="bg-inherit ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-12 w-19" src="{{asset('/images/logoTT.jpg')}}" alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="{{path('admin')}}" class="text-gray-600 hover:bg-sky-500 hover:text-white  rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Gestion</a>
              <a href="{{path('fibre')}}" class="text-gray-600 hover:bg-sky-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Boite</a>
              <a href="{{path('alerte')}}" class="text-gray-600 hover:bg-sky-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Alerte</a>
              <a href="{{path('historique')}}" class="text-gray-600 hover:bg-sky-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Historique</a>
            </div>
          </div>
        </div>
      
          

    
    
  </nav>

 <!-- <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">bhima</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
     
    </div>
  </main>-->
</div>


{% endblock %}
        